.app{
    font-family: 'Ubuntu', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/10/17/17/14/background-992850_1280.png");
}

/* Home page */
.home-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.home-section img{
    height: 100px;
    width: 100px;
}

.home-section button{
    margin: 1rem;
}


/* Auth section */

.auth-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}